gym-notebook-ui/node_modules/
gym-notebook-api/node_modules/
gym-notebook-ui/.expo/
gym-notebook-ui/dist/
gym-notebook-ui/npm-debug.*
gym-notebook-ui/src/API_interface/API_interface.js




*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
gym-notebook-ui/web-build/
gym-notebook-api/.env
gym-notebook-ui/firebaseConfig.js
# macOS
.DS_Store
